.btn-download {
  margin-top: 20px;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn-download:hover {
  background-color: RoyalBlue;
}