label {
  font-weight: bold;
}
.slide-container label {
  font-weight: 400;
}
//SPEED RANGE INPUT
#sliderSpeed {
  -webkit-appearance: none;
  margin-top: 9.5px;
  width: 100%;
  height: 19px;
  background: #ffffff;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

#sliderSpeed:hover {
  opacity: 1;
}

#sliderSpeed::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: $basic-color;
  cursor: pointer;
}

#sliderSpeed::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: $basic-color;
  cursor: pointer;
}

.badges .badge {
  font-size: 15px;
  &:hover {
    cursor: pointer;
  }
  &.badge-primary:hover {
    background-color: #0014ff;
  }
  &.badge-danger:hover {
    background-color: #ff0018;
  }
  &.badge-secondary:hover {
    background-color: #3a3b3c;
  }
}

.add-text, .add-block {
  display: inline-block;
  width: 40%;
  margin: 5%;
}

.add-text {
  float: right;
}

.add-block {
  float: left;
}

.badge.disabled {
  opacity: 0.5;
  &.badge-primary:hover {
    background-color: #007bff;
  }
  &.badge-secondary:hover {
    background-color: #6c757d;
  }
}

.dialog {
  display: none;
}