body {
  .wrapper {
    table {
      tr {
        background-color: #fff;
        td {
          form {
            input[type="submit"] {
              border: none;
              box-shadow: none;
              padding: 10px 30px 10px 30px;
              color: white;
              transition: 0.3s;
            }
            input[type="submit"].code {
              background-color: $basic-color;
              border-color: $basic-color;
            }
            input[type="submit"].remove {
              background-color: red;
              border-color: red;
            }
            input[type="submit"].edit {
              background-color: green;
              border-color: green;
            }
            input[type="submit"].code:hover {
              background-color: #2B42F0;
              border-color: #2B42F0;
            }
            input[type="submit"].remove:hover {
              background-color: #9c0000;
              border-color: #9c0000;
            }
            input[type="submit"].edit:hover {
              background-color: #005b00;
              border-color: #005b00;
            }
          }
        }
      }
    }
    form.addslider {
      input[type='text'] {
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 20px;
      }
      input[type='submit'] {
        height: 50px;
        width: 50px;
        color: white;
        font-size: 20px;
        background-color: #4fab44;
        border: none;
        border-radius: 10px;
        box-shadow: none;
        transition: 0.3s;
      }
      input[type='submit']:hover {
        background-color: #005b00;
      }
    }
  }
}